/* estilos generales */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "IBM Plex Mono", monospace;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 100;
}

span {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 65%;
    text-align: center;
}

.section-tittle {
    width: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 100;
}

.tittle {
    margin-left: 5%;
    width: 80%;
}

.episodios .tittle {
    color: white;
}

/* Menu, Header and Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.nav-container {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-tittle {
    width: 68%;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    margin-left: 7%;
    font-weight: 100;
}

.main-p {
    width: 86.5%;
    font-size: 20px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 30px;
}

.btn {
    background-color: #00f3bb;
    border: none;
    color: Black;
    padding: 5% 25%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    width: 33.5%;
}

.open,
.close,
.desktop {
    display: none;
}

.menu {
    animation: fadeIn 0.5s;
}

.menu,
.close,
.logo {
    margin: 0 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0000ec;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 45px;
}

.sidenav a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    display: block;
    font-family: "IBM Plex Mono", monospace;
}

.open:checked ~ .sidenav {
    width: 100%;
}

.open:checked ~ .close {
    display: inline;
    animation: fadeIn 0.5s;
}

.open:checked ~ .menu {
    display: none;
}

.overline {
    text-decoration: line-through;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 100;
}

/* Episodios */

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    /* background: linear-gradient(174deg, rgba(255, 255, 255, 1) 1%, rgba(0, 0, 255, 1) 1%, rgba(0, 0, 163, 1) 20%); */
}

.episodios {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ep-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

iframe {
    margin: 5px;
    width: 90%;
    height: 232px;
}

/* Nosotros */

.nosotros {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
    width: 90%;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container > img {
    width: 100%;
    margin: 0;
}

/* Invitados */

.invitados {
    display: flex;
    flex-direction: column;
}

.invitados-img {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.invitados-img > img {
    max-width: 100%;
}

/* topicos */

.topicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topicos-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topicos img {
    margin: 20px;
}

/* Novedades */

.novedades {
    height: 350px;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2% 5%;
    background-color: white;
}

.novedades-btn {
    padding: 5% 5%;
    font-size: 16px;
    width: 70%;
}

.novedades-desc {
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

.novedades-desc > h1 {
    width: 50%;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: white;
}

/* social */

.date-and-social {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.social {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

/* Bacckgrounds and animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.bg {
    width: 100%;
    z-index: -1;
    position: absolute;
    background: linear-gradient(173deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 163, 1) 100%);
}

.episodios-bg {
    clip-path: polygon(100% 0, 100% 95%, 0 100%, 0 3%);
    height: 1250px;
}

.footer-bg {
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
    height: 350px;
}

@media (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header {
        height: 450px;
        width: 80%;
    }

    .tittle {
        margin-left: 5%;
        width: 80%;
    }

    .menu {
        display: none;
    }

    .desktop {
        display: flex;
        list-style: none;
    }

    .desktop li {
        margin: 10px;
    }

    .pills {
        text-decoration: none;
        text-transform: uppercase;
        color: #060a24;
        font-size: 16px;
    }

    .pills:hover {
        color: #00f3bb;
        text-decoration: line-through;
    }

    .pills:active {
        color: rgba(6, 10, 36, 0.56);
        text-decoration: line-through;
    }

    .header-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        width: 226px;
        padding: 0;
        cursor: pointer;
    }

    .header-btn:hover {
        background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
    }

    .nav-container {
        width: 110%;
    }

    .main-header {
        width: 90%;
        height: 80%;
        justify-content: space-around;
    }

    .main-tittle {
        margin: 0;
        width: 100%;
    }

    .main-tittle,
    .overline,
    .dot {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 64px;
        color: #060a24;
        letter-spacing: 0;
    }

    .dot {
        color: #0000ec;
    }

    .desc {
        align-items: flex-start;
        height: 80%;
        width: 70%;
        justify-content: space-around;
    }

    /* episodios */

    .episodios {
        width: 80%;
        justify-content: center;
        align-items: center;
        height: 750px;
    }

    .ep-container {
        flex-flow: row wrap;
        width: 110%;
    }

    .desktop-container {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    iframe {
        margin: 15px;
    }

    .episodios-bg {
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
        height: 900px;
    }

    /* Nosotros */

    .nosotros {
        flex-flow: row nowrap;
        width: 80%;
        justify-content: flex-start;
        align-items: center;
    }

    .about-container {
        justify-content: center;
        align-items: flex-start;
        width: 40%;
    }

    .about p {
        width: 85%;
    }

    .img-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-container img {
        width: 60%;
    }

    /* invitados */

    .invitados {
        width: 80%;
    }
    .invitados-img {
        display: flex;
        flex-direction: row;
        width: 130%;
        margin-left: -15%;
    }

    .invitados-img img {
        width: 33%;
    }

    /* Topicos */

    .topicos {
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 400px;
    }

    .topicos-container {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .topicos-tarjeta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
    }

    .topicos-tarjeta span {
        width: 80%;
    }

    /* Novedades */

    .novedades {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    .novedades-desc {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .novedades-desc h1 {
        width: 692px;
        height: 62px;
        font-size: 48px;
        font-family: "IBM Plex Sans", sans-serif;
    }

    .novedades-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        width: 345px;
        padding: 0;
    }

    .footer-bg {
        height: 500px;
        clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    }

    /* footer */

    footer {
        padding: 0;
        width: 90%;
    }

    .date-and-social {
        flex-direction: row;
        justify-content: space-between;
    }

    .date {
        font-size: 16px;
    }

    .social {
        width: 25%;
    }

    .social a {
        color: black;
    }
}
